@import './reset.css';
@import './variables.css';



body {
  height: 100vh;
  /* background: url("../img/137910.jpg") no-repeat center/cover; */

}


img {
  transform: rotate(0);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.buttons {
  width:100%;
  height:60vh;
  display:flex;
  justify-content:space-between

}

.btn {
  width:50px;
  height:50px;
  background:salmon;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  scale:1.2;
  cursor: pointer;
}


.footer:has(arrow:hover) {
  background-color: red;
}

.footer {
  width:100%;
  height: 20vh;
  background-color: slateblue;
}

.footer:hover {
  display: flex;
}

.none {
  display: none;
}